nav{
    background-color: rgb(24, 182, 24);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

nav > button{
    padding: 5px 10px;
    background-color: green;
    font-weight: 600;
    border-radius: 5px;
}

nav>button:hover{
    cursor: pointer;
}

.link-signin > a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}