.small-task-container{
    /* padding: 5px 5px 5px 5px; */
    padding: 10px;
    background-color: rgb(77, 188, 77);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.checkbox-div > input{
    background-color: pink;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

